body{
    background-color:aqua;
    width: 60%;
    margin:auto;
    
}

div.header-card {
    padding: 20px;
   
}

div.image{
 width: 100%;
}

div.content-card{
    padding:20%;
}


h1{
    color: violet;
}